<div class="container">

<h1>Проекты</h1>
<p></p>
<ul> <% @projects.each do |project| %>
<li> <a href="/projects/<%= project.id %>">
<%= link_to project.short_title, project %>
<div> <%= project.title %> </div> </a>
</li>
<% end %>
</ul>



</div>
