<div class="container">

<h1>Карточка нового проекта:</h1>

<%= render "form", project: @project %>

  <ul>

    <li><%= link_to "Main", articles_path, class: 'btn btn-default' %></li>
  </ul>
</div>

